.mainForm {
  width: 88%;
}

.formItems {
  overflow: auto;
}

.options {
  /* position: absolute; */
  z-index: 1;
  display: flex;
}

.options button {
  margin-right: 2rem;
}

.dropDown {
  margin-bottom: 1.5rem;
}

.submit {
  background-color: green;
}
