.App {
  width: 100vw;
  height: 100vh;

  position: relative;
}

a {
  cursor: pointer;
  outline: none;
  -webkit-user-drag: none;
  user-select: none;
}

p {
  margin: 0;
}

.ant-select-dropdown-menu-item-group-title {
  font-size: 30px;
}