.container {
  display: flex;
  position: relative;

  width: 100%;
  height: 100%;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 35%;
  height: 100%;
}

.formContainer p {
  font-size: 40px;
}

.projectSureContainer {
  height: 200px;
  align-items: flex-end;
  display: flex;
}
