.card {
  width: 400px;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}

.cardImageWrapper {
  overflow: hidden;
  height: 600px;
}

.cardImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
