.navigation {
  width: 100vw;
  height: 90px;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.section {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.section a {
  color: #1a1a1a;
  text-decoration: none;
}

.options {
  margin: 0;
  padding: 0;
  width: 10vw;
  display: flex;
  list-style-type: none;
}

.options li a {
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 3rem;
  color: #1a1a1a;
}

@media (min-width: 1024px) {
  li a {
    transition: 0.4s;
    margin-right: 3rem;
  }
}

@media (max-width: 1024px) {
  li a {
    transition: 0.4s;
    margin-right: 0.5rem;
  }
}
