.cardsContainer {
  height: 100%;
  width: 90%;
  position: relative;

  background-color: #f0f2f5;
}

.cardsWrapper {
  overflow: auto;
  overflow-x: hidden;
  height: calc(100% - 11rem);

  padding-bottom: 0.5rem;
}

.searchContainer {
  position: sticky;
  height: 7rem;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  border: 1px solid #f0f2f5;
  padding: 0.5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
