.cardsContainer {
  width: 780px;
  height: 500px;
  overflow: auto;

  border-radius: 10px;
  background-color: #f0f2f5;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 0.75rem;
}

.searchInput {
  display: flex;
  flex-grow: 1;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.ant-select-selection-item {
  background-color: #f50c5b;
}
